---
layout: default
title: Blog
---
<div class="container">
  <div class="row">
    {{ site.tags}}
  </div>
</div>
<div class="card text-center">
  <div class="card-header">
    Most Recent Post
  </div>
  {% for post in site.posts limit:1 %}
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.excerpt }}</p>
    <a href="{{ post.url }}" class="btn btn-primary">Continue Reading</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
  {% endfor %}
</div>
<div class="container">
  <div class="row row-cols-3 justify-content-center">
      {% for post in site.posts %}
        <div class="col">
          <div class="card h-100">
            {{ post.headimage }}
            <div class="card-body">
              <strong class="d-inline-block mb-2 text-primary">{{ post.tag }}</strong>
              <h3 class="card-title">{{ post.title }}</h3>
              <p class="card-text">{{ post.excerpt }} </p>
              <a href="{{ post.url }}">Continue Reading</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
